body {
    background-color: black;
    width: 400px;
    margin: 0 auto;
    padding: 20px 0;
}
.post-container {
    background-color: white;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    margin-top: 40px;
}
.superior {
    display: flex;
    height: 10%;
}
.izquierda {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}
.fa-html5 {
    font-size: 32px;
    color: black;
}
.texto-izquierdo {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}
.nombre-usuario {
    color: gray;
    font-size: 12px;
}
.html5 {
    font-weight: bold;
    font-size: 14px;
    color: black;
}



.derecha {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}
.derecha {
    font-size: 22px;
    color: black;
}


.imagen {
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.iconos {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    font-size: 24px;
    margin-top: 10px;
}
.iconos-izquierda {
    display: flex;
    gap: 15px;
}

.likes {
    font-size: 12px;
    margin: 0;
    white-space: nowrap;
    padding: 0 12px;
}

.descripcion {
    padding: 0 12px;
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.3;
    white-space: normal;
}
.descripcion {
    margin: 0;
}
